<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blogs | Shivam </title>
    <link rel="stylesheet" href="/mystyle.css">
</head>
<body>
    <nav class="navigation container" >
        <div class="nav-brand">Shivam Vishwakarma</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline">
                <a class="link " href="/index.html">Home</a>
            </li>
            <li class="list-item-inline">
                <a class="link " href="project.html">Projects</a>
            </li>
            <li class="list-item-inline">
                <a class="link link-active" href="#">Blogs</a>
            </li>
        </ul>
    </nav>


    <header class="hero">
        <!-- <img class="hero-img" src="images\Code_thinking.png"> -->
        <h2 class="hero-heading" > Shivam , <span class="heading-inverted">  Blogs to read about the world </span></h2>
    </header>
    
    <section class="section  ow">
        <h1>Future Readying India</h1>
        <div class="container container-center">
            <img class="hero-img" src="\images\Future-readying-India-copy.jpg">

            <small>01/july/2023</small>
            <p class="para">The world has entered a transformative era with the evolution of industry 4.0,
                web 3.0 and genetics 2.0. It is the era of artificial intelligence, quantum
                 computing, robotics, crypto technologies and human genome projects. India
                  missed the earlier technological and industrial revolutions. But this time,
                   it has a huge opportunity to exploit its innate potential.


                In the last few years, PM Modi’s government focused heavily on preparing the 
                nation for the new revolution. It has given much impetus to innovation. More 
                than a million start-ups have sprung up in the last few years, making India 
                the world’s “start-up capital”. A fraction of them, over 120 start-ups, have 
                become “unicorns” — highly-valued entities that could mobilise a billion-dollar
                 investment. By the end of last year, around 240 start-ups have gone in for
                  major acquisitions bringing in investments to the tune of $ 150 billion.</p>
            
            <ul class="social-links list-non-bullet">
                      <a class="link link-primary" href="https://indianexpress.com/article/opinion/columns/pm-narendra-modi-govt-national-research-foundation-8694909/">Read More</a>  
            </ul>
        </div>
    </section>
    

    
    <footer class="footer">
        <div class="footer-header">Social Media Presence</div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline">
                <a class="link" href="https://www.linkedin.com/in/shivam-vishwakarma-b6b9341aa/">
                    Linkedin
                </a>
            </li>
            
            <li class="list-item-inline">
                <a class="link" href="https://github.com/shivam361v">
                    GitHub
                </a>
            </li>
            
            <li class="list-item-inline">
                <a class="link" href="https://stackoverflow.com/users/22157753/shivam-vishwakarma">
                    Stack Overflow
                </a>
            </li>
            
            <li class="list-item-inline">
                <a class="link" href="https://www.hackerrank.com/shivam361v?hr_r=1">
                    HackerRank
                </a>
            </li>
            
            <li class="list-item-inline">
                <a class="link" href="https://www.hackerearth.com/@shivam361v">
                    HackerEarth
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>